*{
  margin: 0px;
  padding: 0px;
  border: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar{
  height: 60px;
  background-color: #0f1111;
  color: white; 
  display: flex;                        /* for all the elements in same line or one line*/
  align-items: center;
  justify-content: space-evenly;
}
.nav-logo{
  height: 50px;
  width: 100px;
}
.logo{
  background-image: url("logo.png");
  height: 50px;
  width: 100%;
  background-size: cover;
}

.border{
  border: 2px solid transparent;
}
.border:hover{
  border: 2px solid white;
}

.nav-one{
  font-size: 0.75rem;
  color: #cccccc;
  margin-left: 15px;
}
.nav-two{
  font-size: 1rem;
  color: #ffffff;
  margin-left: 3px;
}
.add-icon{
  display: flex;
  align-items: center;
}

.nav-search{
  display: flex;
  justify-content: space-evenly;
  background-color: #ffce12;
  width: 600px;
  height: 40px;
  border-radius: 4px;
}
.nav-search:hover{
  border: 2px solid rgba(245, 176, 47, 0.836);;
}
.nav-select{
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}
.nav-input{
  width: 100%;
  font-size: 1rem;
  border: none;
}

.search-icon{
  width: 45px;
  display: flex;                    /* Here display flex is used for icon lie on the center because it is in top */
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #0f1111;
}
.nav-language{
  display: flex;
  align-items: center;
}
.language-image{
  width: 20px;
  height: 17px;
}
.nav-en{
  height: 17px;
  border: none;
  background-color: #0f1111;
  color: #ffffff;
}

.nav-first{
  font-size: 0.7rem;
}
.nav-second{
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  background-color: #0f1111;
}
.nav-cart{
  display: flex;
}
.nav-cart i{
  font-size: 0.9rem;
  font-weight: 600;
}

/* Second Nav */

.panel{
  height: 40px;
  background-color: #222f3d;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.panel-all{
  color: #ffffff;
  font-weight: 700;
}
.panel-opt a{
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9rem;
  margin-left: 12px;
}
.panel-opt i{
  color: #ffffff;
}

/* hero-section */
.hero-section{
  background-image: url("hero.jpg");
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero-msg{
  background-color: #f3f3f3;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0..85rem;
  width: 90%;
  margin-bottom: 30px;
}
.hero-msg a{
  text-decoration: none;
  color: #007185;
}

/* shop-section */
.shop-container{
  width: 100%;
  /* min-height: 500px; */
  background-color: #f0f0f0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 30px;
}
.outer-box{
  width: 350px;
  height: 400px;
  background-color: #ffffff;
  /* border: 2px solid black; */
  margin-right: 10px;
}
.inner-wrapper{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px 15px 5px 15px ;
  column-gap: 20px;
  row-gap: 15px;
}
.outer-box h2{
  font-size: 18px;
  margin: 6px 0px 10px 0px;
  padding: 0px 10px 0px 10px;
}
.item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.item p{
  font-size: 0.85rem;
  font-weight: 400;
}
.inner-wrapper a{
  font-size: 0.85rem;
  text-decoration: none;
  color: #07478b;
  font-weight: 500;
  margin-top: 30px;
}
.box{
  width: 130px;
  height: 110px;
  background-size: cover;
}
.inner-box1{
  background-image: url("Box1/box1.png");
}
.inner-box2{
  background-image: url("Box1/box11.webp");
}
.inner-box3{
  background-image: url("Box1/box111.jpg");
}
.inner-box4{
  background-image: url("Box1/box1111.webp");
}

/* For Second Box - its different from others boxes thats why i use another class */     
.inner-wrapper-2{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px 15px 5px 15px ;
  column-gap: 20px;
  row-gap: 30px;
}
.inner-wrapper-2 a{
  font-size: 0.85rem;
  text-decoration: none;
  color: #07478b;
  font-weight: 500;
  margin-top: -18px;
}
.inner2-box1{
  background-image: url("Box2/box2.jpg");
}
.inner2-box2{
  background-image: url("Box2/box22.webp");
}
.inner2-box3{
  background-image: url("Box2/box222.webp");
  height: 130px;
}
.inner2-box4{
  background-image: url("Box2/box2222.jpg");
  height: 130px;
}

/* For Third Box */
.inner-wrapper-3{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 15px 0px 15px ;
  column-gap: 20px;
  row-gap: 15px;
}
.inner-wrapper-3 a{
  font-size: 0.85rem;
  text-decoration: none;
  color: #07478b;
  font-weight: 500;
}
.inner3-box1{
  background-image: url("Box3/box3.webp");
}
.inner3-box2{
  background-image: url("Box3/box33.jpg");
}
.inner3-box3{
  background-image: url("Box3/box333.webp");
}
.inner3-box4{
  background-image: url("Box3/box3333.webp");
}

/* for fourth box */
.signin{
  width: 350px;
  height: 150px;
  background-color: #ffffff;
  /* border: 2px solid black; */
  padding: 20px 0px 20px 0px;
  display: inline;
  justify-content: end;
}
.signin h2{
  font-size: 1.45rem;
  font-weight: 600;
  padding: 0px 0px 25px 35px;
}
.signin button{
  width: 230px;
  height: 40px;
  background-color: #ffce12;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 25px;
}

/* fifth box */
.shop-main{
  width: 350px;
  height: 250px;
  display: flex;
  flex-direction: column;
}
.shop-box{
  width: 340px;
  height: 120px;
  background-image: url("box5/image.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.shop{
  background-color: #ffffff;
  /* border: 2px solid black; */
  margin-top: 14px;

}
.shop p{
  font-size: 1.20rem;
  margin-top: 23px;
  padding-left: 15px;
}
.shop button{
  width: 70px;
  height: 20px;
  background-color: rgb(131, 6, 6);
  color: #f3f3f3;
  border: none;
  margin-left: 15px;
  margin-top: 10px;
}
small{
  font-size: 1.10rem;
}
.new-price{
  font-weight: 500;
  font-size: 1.20rem;
}
.old-price{
  font-size: 1.20rem;
  font-weight: 500;
  text-decoration: line-through;
}
.ruppes-text{
  padding-left: 15px;
  padding-top: 15px;
}
.prime-tick{
  font-size: 1rem;
  color: rgb(43, 149, 191);
}
.prime-text{
  font-size: 1.20rem;
  color: #e43e10;
  font-weight: 600;
}
/* Fourth Section */
/* .box2{
  width: 140px;
  height: 120px;
  background-size: cover;
} */
.inner4-box1{
  background-image: url("Box7/box7.jpg");
}
.inner4-box2{
  background-image: url("Box7/box77.jpg");
}
.inner4-box3{
  background-image: url("Box7/box777.jpg");
}
.inner4-box4{
  background-image: url("Box7/box7777.jpg");
}
.inner5-box1{
  background-image: url("Box8/box8.jpg");
}
.inner5-box2{
  background-image: url("Box8/box88.jpg");
}
.inner5-box3{
  background-image: url("Box8/box888.jpg");
}
.inner5-box4{
  background-image: url("Box8/box8888.jpg");
  background-size: contain;
}
.box2{
  width: 130px;
  height: 110px;
  background-size: cover;
}
.inner6-box1{
  background-image: url("Box9/box9.jpg");
}
.inner6-box2{
  background-image: url("Box9/box99.jpg");
}
.inner6-box3{
  background-image: url("Box9/box999.jpg");
}
.inner6-box4{
  background-image: url("Box9/box9999.jpg");
}
.inner7-box1{
  background-image: url("Box10/box10.jpg");
}
.inner7-box2{
  background-image: url("Box10/box1010.jpg");
}
.inner7-box3{
  background-image: url("Box10/box101010.jpg");
}
.inner7-box4{
  background-image: url("Box10/box10101010.jpg");
}

.inner-wrapper-4{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 15px 0px 15px ;
  column-gap: 20px;
  row-gap: 15px;
}
.inner-wrapper-4 a{
  margin-top: 23px;
  text-decoration: none;
  color: #07478b;
  font-weight: 500;
}
.inner-wrapper-5{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 15px 0px 15px ;
  column-gap: 20px;
  row-gap: 15px;
}
.inner-wrapper-5 a{
  margin-top: 22px;
  text-decoration: none;
  color: #07478b;
  font-weight: 500;
}
.inner-wrapper-6{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 15px 0px 15px ;
  column-gap: 20px;
  row-gap: 15px;
}
.inner-wrapper-6 a{
  margin-top: 24px;
  text-decoration: none;
  color: #07478b;
  font-weight: 500;
}
.inner-wrapper-7{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 15px 0px 15px ;
  column-gap: 20px;
  row-gap: 15px;
}
.inner-wrapper-7 a{
  margin-top: 22px;
  text-decoration: none;
  color: #07478b;
  font-weight: 500;
}
/* Fifth Section */
.new-user{
  width: 100%;
  height: 150px;
  background-color:#ffffff;
  text-align: center;
}
.new-user h2{
  margin-top: 30px;

}
.new-user button{
  width: 270px;
  height: 40px;
  background-color: #ffce12;
  border-radius: 20px;
  border: none;
  margin-top: 12px;
}
.new-user p{
  margin-top: 10px;
  font-size: 0.80rem;
}
.hover:hover{
  background-color: rgba(245, 176, 47, 0.836);
}
/* Sixth Section */
.going-top{
  height: 50px;
  background-color: #37475A;
  margin-top: 20px;
}
.going-top p{
  color: #f3f3f3;
  text-align: center;
  padding-top: 15px;
}
/* Last Section */
.footer{
  height: 450px;
  background-color: #232f3e;
  color: #f3f3f3;
  display: flex;
  justify-content: center;
  gap: 100px;    /*  for gap between items */
}
.footer h2{
  padding-top: 80px;
  padding-bottom: 12px;
}
.footer ul{
  list-style-type: none;
  line-height: 32px; 
  font-size: 0.90rem; 
}

.last-footer{
  height: 100px;
  background-color: #232f3e;
  display: flex;
  justify-content: center;
}
.logo-amz{
  width: 200px;
  height: 100px;
  background-image: url("footer.png");
  background-size: cover;
  margin-top: -17px;
}
.language{
  width: 120px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 37px;
  margin-left: 20px;
  color: #ffffff;
}
.language p{
  margin-left: 8px;
}
.india{
  width: 120px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 37px;
  margin-left: 70px;
  color: #ffffff;
}
.india-logo{
  width: 30px;
  height: 20px;
  background-image: url("india.png");
  background-size: cover;
  margin-right: 10px;
}
.language:hover{
  border: 1px solid white;
}
.india:hover{
  border: 1px solid white;
}
.footer li:hover{
  text-decoration: underline ;
}
/* end point */
.end-point{
  /* height: 330px; */
  max-width: 1500px;
  background-color: #131A22;
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  row-gap: 40px;
  column-gap: 10px;
  padding-top: 40px;
  justify-content: space-around
}
.points ul{
  list-style-type: none;
}
.points li{
  font-size: 0.82rem;
}
.copyright{
  height: 50px;
  background-color: #131A22;
  text-align: center;
  padding-top: 100px;
}
.copyright p{
  color: #ffffff;
}